<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.SCSystem.mapper.AppCheckMapper">

    <!--Distribution 파일 업로드용-->
    <insert id="insertDistributionForeground" parameterType="hashmap">
        INSERT INTO distribution_file
        (check_mst_idx, distribution_idx, foreground_url, foreground_path, create_dt, modify_dt)
        VALUES
        (#{checkMstIdx}, #{distributionIdx}, #{foregroundUrl}, #{foregroundPath}, NOW(), NOW())
        ON DUPLICATE KEY UPDATE
        foreground_url = #{foregroundUrl},
        foreground_path = #{foregroundPath},
        modify_dt = NOW()
    </insert>

    <insert id="insertDistributionExternal" parameterType="hashmap">
        INSERT INTO distribution_file
        (check_mst_idx, distribution_idx, external_url, external_path, create_dt, modify_dt)
        VALUES
        (#{checkMstIdx}, #{distributionIdx}, #{externalUrl}, #{externalPath}, NOW(), NOW())
        ON DUPLICATE KEY UPDATE
        external_url = #{externalUrl},
        external_path = #{externalPath},
        modify_dt = NOW()
    </insert>

    <insert id="insertDistributionInternal" parameterType="hashmap">
        INSERT INTO distribution_file
        (check_mst_idx, distribution_idx, internal_url, internal_path, create_dt, modify_dt)
        VALUES
        (#{checkMstIdx}, #{distributionIdx}, #{internalUrl}, #{internalPath}, NOW(), NOW())
        ON DUPLICATE KEY UPDATE
        internal_url = #{internalUrl},
        internal_path = #{internalPath},
        modify_dt = NOW()
    </insert>

    <insert id="insertDistributionMccb" parameterType="hashmap">
        INSERT INTO distribution_file
        (check_mst_idx, distribution_idx, mccb_url, mccb_path, create_dt, modify_dt)
        VALUES
        (#{checkMstIdx}, #{distributionIdx}, #{mccbUrl}, #{mccbPath}, NOW(), NOW())
        ON DUPLICATE KEY UPDATE
        mccb_url = #{mccbUrl},
        mccb_path = #{mccbPath},
        modify_dt = NOW()
    </insert>

    <insert id="insertDistributionResistance" parameterType="hashmap">
        INSERT INTO distribution_file
        (check_mst_idx, distribution_idx, resistance_url, resistance_path, create_dt, modify_dt)
        VALUES
        (#{checkMstIdx}, #{distributionIdx}, #{resistanceUrl}, #{resistancePath}, NOW(), NOW())
        ON DUPLICATE KEY UPDATE
        resistance_url = #{resistanceUrl},
        resistance_path = #{resistancePath},
        modify_dt = NOW()
    </insert>

    <insert id="insertDistributionWireStatus" parameterType="hashmap">
        INSERT INTO distribution_file
        (check_mst_idx, distribution_idx, wire_status_url, wire_status_path, create_dt, modify_dt)
        VALUES
        (#{checkMstIdx}, #{distributionIdx}, #{wireStatusUrl}, #{wireStatusPath}, NOW(), NOW())
        ON DUPLICATE KEY UPDATE
        wire_status_url = #{wireStatusUrl},
        wire_status_path = #{wireStatusPath},
        modify_dt = NOW()
    </insert>

    <insert id="insertDistributionMeter" parameterType="hashmap">
        INSERT INTO distribution_file
        (check_mst_idx, distribution_idx, meter_url, meter_path, create_dt, modify_dt, meter_text)
        VALUES
        (#{checkMstIdx}, #{distributionIdx}, #{meterUrl}, #{meterPath}, NOW(), NOW(), #{meterText})
        ON DUPLICATE KEY UPDATE
        meter_url = #{meterUrl},
        meter_path = #{meterPath},
        meter_text = #{meterText},
        modify_dt = NOW()
    </insert>

    <insert id="insertDistributionModemFront" parameterType="hashmap">
        INSERT INTO distribution_file
        (check_mst_idx, distribution_idx, modem_front_url, modem_front_path, create_dt, modify_dt, modem_front_text)
        VALUES
        (#{checkMstIdx}, #{distributionIdx}, #{modemFrontUrl}, #{modemFrontPath}, NOW(), NOW(), #{modemFrontText})
        ON DUPLICATE KEY UPDATE
        modem_front_url = #{modemFrontUrl},
        modem_front_path = #{modemFrontPath},
        modem_front_text = #{modemFrontText},
        modify_dt = NOW()
    </insert>

    <insert id="insertDistributionModemBack" parameterType="hashmap">
        INSERT INTO distribution_file
        (check_mst_idx, distribution_idx, modem_back_url, modem_back_path, create_dt, modify_dt, modem_back_text)
        VALUES
        (#{checkMstIdx}, #{distributionIdx}, #{modemBackUrl}, #{modemBackPath}, NOW(), NOW(), #{modemBackText})
        ON DUPLICATE KEY UPDATE
        modem_back_url = #{modemBackUrl},
        modem_back_path = #{modemBackPath},
        modem_back_text = #{modemBackText},
        modify_dt = NOW()
    </insert>

    <insert id="insertDistributionBollard" parameterType="hashmap">
        INSERT INTO distribution_file
        (check_mst_idx, distribution_idx, bollard_url, bollard_path, create_dt, modify_dt)
        VALUES
        (#{checkMstIdx}, #{distributionIdx}, #{bollardUrl}, #{bollardPath}, NOW(), NOW())
        ON DUPLICATE KEY UPDATE
        bollard_url = #{bollardUrl},
        bollard_path = #{bollardPath},
        modify_dt = NOW()
    </insert>

    <insert id="insertDistributionEtc" parameterType="hashmap">
        INSERT INTO distribution_file
        (check_mst_idx, distribution_idx, etc_url, etc_path, create_dt, modify_dt)
        VALUES
        (#{checkMstIdx}, #{distributionIdx}, #{etcUrl}, #{etcPath}, NOW(), NOW())
        ON DUPLICATE KEY UPDATE
        etc_url = #{etcUrl},
        etc_path = #{etcPath},
        modify_dt = NOW()
    </insert>

    <select id="getStationIdxByDistributionIdx" parameterType="Integer" resultType="Integer">
        SELECT charger_station_idx
        FROM distribution
        WHERE idx = #{distributionIdx}
    </select>

    <select id="getCheckMstIdxByDistributionIdx" parameterType="Integer" resultType="Integer">
        SELECT idx
        FROM check_mst
        WHERE distribution_idx = #{distributionIdx}
    </select>

    <update id="updateElectricalStabilityOvercurrentA" parameterType="hashmap">
        UPDATE electrical_stability
        SET
        overcurrentA = #{overcurrentA},
        modify_dt = NOW()
        WHERE check_mst_idx = #{checkMstIdx}
    </update>

    <update id="updateElectricalStabilityResistance" parameterType="hashmap">
        UPDATE electrical_stability
        SET
        resistance = #{resistance},
        modify_dt = NOW()
        WHERE check_mst_idx = #{checkMstIdx}
    </update>

    <update id="updateElectricalStabilityThickness" parameterType="hashmap">
        UPDATE electrical_stability
        SET
        thickness = #{thickness},
        modify_dt = NOW()
        WHERE check_mst_idx = #{checkMstIdx}
    </update>

    <update id="updateElectricalStabilityWireThickness" parameterType="hashmap">
        UPDATE electrical_stability
        SET
        wire_thickness = #{wireThickness},
        modify_dt = NOW()
        WHERE check_mst_idx = #{checkMstIdx}
    </update>

    <update id="updateElectricalStabilityDistribution" parameterType="hashmap">
        UPDATE electrical_stability
        SET
        distribution = #{distribution},
        modify_dt = NOW()
        WHERE check_mst_idx = #{checkMstIdx}
    </update>

    <update id="updateElectricalStabilityCable" parameterType="hashmap">
        UPDATE electrical_stability
        SET
        cable = #{cable},
        modify_dt = NOW()
        WHERE check_mst_idx = #{checkMstIdx}
    </update>

    <update id="updateElectricalStabilitySensitivity" parameterType="hashmap">
        UPDATE electrical_stability
        SET
        sensitivity = #{sensitivity},
        modify_dt = NOW()
        WHERE check_mst_idx = #{checkMstIdx}
    </update>

    <update id="updateElectricalStabilityLeakA" parameterType="hashmap">
        UPDATE electrical_stability
        SET
        leakageA = #{leakageA},
        modify_dt = NOW()
        WHERE check_mst_idx = #{checkMstIdx}
    </update>





<!-- ChargerFile Upload -->

    <update id="updateChargerFileTest" parameterType="hashmap">
        UPDATE charger_file
        SET
        test_url = #{testUrl},
        test_path = #{testPath},
        modify_dt = NOW()
        WHERE check_mst_idx = #{checkMstIdx}
    </update>


    <update id="updateChargerFilePlate" parameterType="hashmap">
        UPDATE charger_file
        SET
        plate_url = #{plateUrl},
        plate_path = #{platePath},
        modify_dt = NOW()
        WHERE check_mst_idx = #{checkMstIdx}
    </update>



    <update id="updateChargerFileResistance" parameterType="hashmap">
        UPDATE charger_file
        SET
        resistance_url = #{resistanceUrl},
        resistance_path = #{resistancePath},
        modify_dt = NOW()
        WHERE check_mst_idx = #{checkMstIdx}
    </update>



    <update id="updateChargerFileInfo" parameterType="hashmap">
        UPDATE charger_file
        SET
        info_url = #{infoUrl},
        info_path = #{infoPath},
        modify_dt = NOW()
        WHERE check_mst_idx = #{checkMstIdx}
    </update>

    <update id="updateChargerFileBollard" parameterType="hashmap">
        UPDATE charger_file
        SET
        bollard_url = #{bollardUrl},
        bollard_path = #{bollardPath},
        modify_dt = NOW()
        WHERE check_mst_idx = #{checkMstIdx}
    </update>

    <update id="updateChargerFileConnector" parameterType="hashmap">
        UPDATE charger_file
        SET
        connector_url = #{connectorUrl},
        connector_path = #{connectorPath},
        modify_dt = NOW()
        WHERE check_mst_idx = #{checkMstIdx}
    </update>

    <select id="getCheckMstIdxByChargerIdx" parameterType="Integer" resultType="Integer">
        SELECT cm.idx from check_mst cm join charger c on cm.distribution_idx=c.distribution_idx where c.idx=#{chargerIdx}
    </select>
</mapper>