<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.SCSystem.mapper.ChargerStationMapper">

	<select id="getSearchList" parameterType="com.SCSystem.dto.Search" resultType="com.SCSystem.dto.ChargerStation">
	SELECT * FROM (
		SELECT A.*
			, (SELECT name 
				 FROM as_evse.manager B
				WHERE B.idx = A.manager_idx) manager_name
			, (SELECT B.company_name 
				 FROM as_evse.company B
				WHERE B.idx = A.company_idx) company_name  
		FROM as_evse.charger_station A
	) A
	WHERE 1 = 1
	<if test="searchCompany != null and searchCompany != ''">
    	AND company_name LIKE CONCAT('%', #{searchCompany}, '%')
    </if>
    <if test="searchManager!= null and searchManager != ''">
    	AND manager_name LIKE CONCAT('%', #{searchManager}, '%')
    </if>
    <if test="searchChargerStation != null and searchChargerStation != ''">
    	AND name LIKE CONCAT('%', #{searchChargerStation}, '%')
    </if>
	</select>
	
	<select id="get" parameterType="Integer" resultType="com.SCSystem.dto.ChargerStation">
	SELECT * 
	FROM as_evse.charger_station
	WHERE idx = #{idx}
	</select>
	
	<insert id="insert" parameterType="com.SCSystem.dto.ChargerStation">
	INSERT INTO as_evse.charger_station
	(company_idx, manager_idx, name, chargerCompany, station_id, addr, detail_addr, sido, sigungu, latitude, longitude, create_dt, modify_dt)
	VALUES
	(
		 #{company_idx}
		,#{manager_idx}
		,#{name}
		,#{chargerCompany}
		,#{station_id}
		,#{addr}
		,#{detail_addr}
		,#{sido}
		,#{sigungu}
		,#{latitude}
		,#{longitude}
		,NOW()
		,NOW()		
	)
	
		<selectKey keyProperty="idx" resultType="java.lang.Integer" >
         	SELECT LAST_INSERT_ID()
  		</selectKey>
	</insert>

	<update id="update" parameterType="com.SCSystem.dto.ChargerStation">
	UPDATE as_evse.charger_station
	SET company_idx = #{company_idx}
	  , manager_idx = #{manager_idx}
	  , name = #{name}
	  , chargerCompany = #{chargerCompany}
	  , station_id = #{station_id}
	  , addr = #{addr}
	  , detail_addr = #{detail_addr}
	  , sido = #{sido}
	  , sigungu = #{sigungu}
	  , latitude = #{latitude}
	  , longitude = #{longitude}
	  , modify_dt = NOW()
	WHERE idx = #{idx}
	</update>
	
	<delete id="delete" parameterType="Integer">
	DELETE FROM as_evse.charger_station
	WHERE idx = #{idx}
	</delete>
</mapper>