<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.SCSystem.mapper.ChargerCheckMapper">

	<select id="getSearchList" parameterType="String" resultType="com.SCSystem.dto.ChargerCheck">
	SELECT A.* 
	FROM as_evse.charger_check A
	</select>
	
	<select id="get" parameterType="Integer" resultType="com.SCSystem.dto.ChargerCheck">
	SELECT * 
	FROM as_evse.charger_check
	WHERE idx = #{idx}
	</select>
	
	<insert id="insert" parameterType="com.SCSystem.dto.ChargerCheck">
	INSERT INTO as_evse.charger_check
	(charger_idx, charger_station_idx, distribution_idx, manager_idx, check_list_idx, value, value_type, photo_url, photo_path, create_dt, modify_dt)
	VALUES
	(
		 #{charger_idx}
		,#{charger_station_idx}
		,#{distribution_idx}
		,#{manager_idx}
		,#{check_list_idx}
		,#{value}
		,#{value_type}
		,#{photo_url}
		,#{photo_path}
		,NOW()
		,NOW()		
	)
	</insert>
	
	<update id="update" parameterType="com.SCSystem.dto.ChargerCheck">
	UPDATE as_evse.charger_check
	SET charger_idx = #{charger_idx}
	  , charger_station_idx = #{charger_station_idx}
	  , distribution_idx = #{distribution_idx}
	  , manager_idx = #{manager_idx}
	  , check_list_idx = #{check_list_idx}
	  , value = #{value}
	  , value_type = #{value_type}
	  , photo_url = #{photo_url}
	  , photo_path = #{photo_path}
	  , modify_dt = NOW()
	WHERE idx = #{idx}
	</update>
	
	<delete id="delete" parameterType="Integer">
	DELETE FROM as_evse.charger_check
	WHERE idx = #{idx}
	</delete>
</mapper>