<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.SCSystem.mapper.CheckMapper">


	<select id="getSearchList" parameterType="String" resultType="com.SCSystem.dto.Charger">
	SELECT A.*
		, (SELECT B.name 
			FROM as_evse.charger_station B
			WHERE B.idx = A.charger_station_idx) station_name
		, (SELECT name 
			 FROM as_evse.manager B
			WHERE B.idx = A.manager_idx) manager_name
		, (SELECT B.company_name 
			 FROM as_evse.company B
			WHERE B.idx = A.company_idx) company_name  
	FROM as_evse.check_mst A
	WHERE 1 = 1
	<if test="searchCompany != null and searchCompany != ''">
    	AND company_name LIKE CONCAT('%', #{searchCompany}, '%')
    </if>
    <if test="searchManager!= null and searchManager != ''">
    	AND manager_name LIKE CONCAT('%', #{searchManager}, '%')
    </if>
    <if test="searchChargerStation != null and searchChargerStation != ''">
    	AND station_name LIKE CONCAT('%', #{searchChargerStation}, '%')
    </if>
	</select>
	
	<select id="getCheckMstByStation" parameterType="Integer" resultType="com.SCSystem.dto.CheckMst">
		SELECT A.* 
		     , (SELECT B.name 
			FROM as_evse.distribution B
			WHERE B.idx = A.distribution_idx) distribution_name
		FROM as_evse.check_mst A
		WHERE A.charger_station_idx = #{charger_station_idx}
	</select>
	
	<select id="getDistributionByCheckMst" parameterType="Integer" resultType="com.SCSystem.dto.Distribution">
		SELECT A.* 
		     , (SELECT B.name 
			FROM as_evse.charger_station B
			WHERE B.idx = (SELECT charger_station_idx FROM check_mst where idx = #{idx})) station_name
			, (SELECT B.name 
			FROM as_evse.manager B
			WHERE B.idx = (SELECT manager_idx FROM check_mst where idx = #{idx})) manager_name
			, (SELECT DATE_FORMAT(check_dt, '%Y%m%d') FROM check_mst where idx = #{idx}) check_dt
		FROM as_evse.distribution A
		WHERE A.idx = (SELECT distribution_idx FROM check_mst where idx = #{idx})
	</select>
	
	<select id="getCheckMst" parameterType="Integer" resultType="com.SCSystem.dto.CheckMst">
		SELECT A.* 
		, (SELECT B.name 
			FROM as_evse.manager B
			WHERE B.idx = A.manager_idx) manager_name
		, (SELECT B.name 
			FROM as_evse.charger_station B
			WHERE B.idx = A.charger_station_idx) charger_station_name
		FROM as_evse.check_mst A
		WHERE A.idx = #{idx}
	</select>
	
	<select id="getCompatibility" parameterType="com.SCSystem.dto.CheckMst" resultType="com.SCSystem.dto.Compatibility">
		SELECT B.* 
		FROM as_evse.check_mst A
		JOIN compatibility B ON A.idx = B.check_mst_idx
		WHERE A.idx = #{idx}
	</select>
	<select id="getEnvironment" parameterType="com.SCSystem.dto.CheckMst" resultType="com.SCSystem.dto.Environment">
		SELECT B.* 
		FROM as_evse.check_mst A
		JOIN environment B ON A.idx = B.check_mst_idx
		WHERE A.idx = #{idx}
	</select>
	<select id="getConvenience" parameterType="com.SCSystem.dto.CheckMst" resultType="com.SCSystem.dto.Convenience">
		SELECT B.* 
		FROM as_evse.check_mst A
		JOIN convenience B ON A.idx = B.check_mst_idx
		WHERE A.idx = #{idx}
	</select>
	<select id="getProductSafety" parameterType="com.SCSystem.dto.CheckMst" resultType="com.SCSystem.dto.ProductSafety">
		SELECT B.* 
		FROM as_evse.check_mst A
		JOIN product_safety B ON A.idx = B.check_mst_idx
		WHERE A.idx = #{idx}
	</select>
	<select id="getElectricalStability" parameterType="com.SCSystem.dto.CheckMst" resultType="com.SCSystem.dto.ElectricalStability">
		SELECT B.* 
		FROM as_evse.check_mst A
		JOIN electrical_stability B ON A.idx = B.check_mst_idx
		WHERE A.idx = #{idx}
	</select>
	<select id="getFireSafety" parameterType="com.SCSystem.dto.CheckMst" resultType="com.SCSystem.dto.FireSafety">
		SELECT B.* 
		FROM as_evse.check_mst A
		JOIN fire_safety B ON A.idx = B.check_mst_idx
		WHERE A.idx = #{idx}
	</select>
	<select id="getMaintenance" parameterType="com.SCSystem.dto.CheckMst" resultType="com.SCSystem.dto.Maintenance">
		SELECT B.* 
		FROM as_evse.check_mst A
		JOIN maintenance B ON A.idx = B.check_mst_idx
		WHERE A.idx = #{idx}
	</select>
	<select id="getChargingOperation" parameterType="com.SCSystem.dto.CheckMst" resultType="com.SCSystem.dto.ChargingOperation">
		SELECT B.* 
		FROM as_evse.check_mst A
		JOIN charging_operation B ON A.idx = B.check_mst_idx
		WHERE A.idx = #{idx}
	</select>
	<select id="getOpinion" parameterType="com.SCSystem.dto.CheckMst" resultType="com.SCSystem.dto.Opinion">
		SELECT B.* 
		FROM as_evse.check_mst A
		JOIN opinion B ON A.idx = B.check_mst_idx
		WHERE A.idx = #{idx}
	</select>
	
	<insert id="insertCheck" statementType="CALLABLE">
    {call insert_check_data(
        #{p_company_idx, mode=IN, jdbcType=INTEGER},
        #{p_manager_idx, mode=IN, jdbcType=INTEGER},
        #{p_charger_station_idx, mode=IN, jdbcType=INTEGER},
        #{p_distribution_idx, mode=IN, jdbcType=INTEGER}
    )}
	</insert>
	
	<update id="updateCheckMst" parameterType="com.SCSystem.dto.CheckMst">
		UPDATE check_mst
		SET check_dt = #{check_dt}
		  , temperature = #{temperature}
		  , adjustment = #{adjustment}
		  , modify_dt = NOW()
		WHERE charger_station_idx = (SELECT charger_station_idx FROM check_mst WHERE idx = #{idx})
	</update>
	<update id="updateCompatibility" parameterType="com.SCSystem.dto.Compatibility">
		UPDATE compatibility
		SET open = #{open}
		  , access = #{access}
		  , milestone = #{milestone}
		  , rapid = #{rapid}
		  , space = #{space}
		  , free = #{free}
		  , modify_dt = NOW()
		WHERE idx = #{idx}
	</update>
	<update id="updateEnvironment" parameterType="com.SCSystem.dto.Environment">
		UPDATE environment
		SET temperature = #{temperature}
		  , gas = #{gas}
		  , openness = #{openness}
		  , slip = #{slip}
		  , ventilation = #{ventilation}
		  , snowrain = #{snowrain}
		  , flooding = #{flooding}
		  , vibration = #{vibration}
		  , modify_dt = NOW()
		WHERE idx = #{idx}
	</update>
	<update id="updateConvenience" parameterType="com.SCSystem.dto.Convenience">
		UPDATE convenience
		SET homepage = #{homepage}
		  , facility = #{facility}
		  , status = #{status}
		  , stopper = #{stopper}
		  , screen = #{screen}
		  , payment = #{payment}
		  , lighting = #{lighting}
		  , cctv = #{cctv}
		  , emergency = #{emergency}
		  , card = #{card}
		  , traffic = #{traffic}
		  , modify_dt = NOW()
		WHERE idx = #{idx}
	</update>
	<update id="updateProductSafety" parameterType="com.SCSystem.dto.ProductSafety">
		UPDATE product_safety
		SET rust = #{rust}
		  , stopper = #{stopper}
		  , connector = #{connector}
		  , `lock` = #{lock}
		  , discolor = #{discolor}
		  , pad = #{pad}
		  , modify_dt = NOW()
		WHERE idx = #{idx}
	</update>
	<update id="updateElectricalStability" parameterType="com.SCSystem.dto.ElectricalStability">
		UPDATE electrical_stability
		SET facilities = #{facilities}
		  , rainwater = #{rainwater}
		  , contact = #{contact}
		  , danger = #{danger}
		  , locking = #{locking}
		  , wire = #{wire}
		  , meter = #{meter}
		  , gate = #{gate}
		  , grounding_work = #{grounding_work}
		  , resistance = #{resistance}
		  , thickness = #{thickness}
		  , distribution = #{distribution}
		  , cable = #{cable}
		  , wiring = #{wiring}
		  , suitable_cable = #{suitable_cable}
		  , metal_part = #{metal_part}
		  , cable_damage = #{cable_damage}
		  , wiring_status = #{wiring_status}
		  , insulation_resistance = #{insulation_resistance}
		  , type_charger1 = #{type_charger1}
		  , type_charger2 = #{type_charger2}
		  , gate_value = #{gate_value}
		  , overcurrentW = #{overcurrentW}
		  , overcurrentA = #{overcurrentA}
		  , leakageW = #{leakageW}
		  , leakageA = #{leakageA}
		  , sensitivity = #{sensitivity}
		  , wire_thickness = #{wire_thickness}
		  , cable_tightening = #{cable_tightening}
		  , modify_dt = NOW()
		WHERE idx = #{idx}
	</update>
	<update id="updateFireSafety" parameterType="com.SCSystem.dto.FireSafety">
		UPDATE fire_safety
		SET facility = #{facility}
		  , evacuation = #{evacuation}
		  , modify_dt = NOW()
		WHERE idx = #{idx}
	</update>
	<update id="updateMaintenance" parameterType="com.SCSystem.dto.Maintenance">
		UPDATE maintenance
		SET contact = #{contact}
		  , organize = #{organize}
		  , ascenter = #{ascenter}
		  , complaint = #{complaint}
		  , light = #{light}
		  , modify_dt = NOW()
		WHERE idx = #{idx}
	</update>
	<update id="updateChargingOperation" parameterType="com.SCSystem.dto.ChargingOperation">
		UPDATE charging_operation 
		SET charge = #{charge}
		  , speed = #{speed}
		  , button = #{button}
		  , share = #{share}
		  , modify_dt = NOW()
		WHERE idx = #{idx}
	</update>
	<update id="updateOpinion" parameterType="com.SCSystem.dto.Opinion">
		UPDATE opinion
		SET content = #{content}
		  , modify_dt = NOW()
		WHERE idx = #{idx}
	</update>
	
	<delete id="deleteCheck" statementType="CALLABLE">
    {call delete_check_data(
        #{p_check_mst_idx, mode=IN, jdbcType=INTEGER}
    )}
	</delete>
	
	<select id="getCheckMstIdxByDistribution" parameterType="Integer" resultType="Integer">
		SELECT idx
		FROM check_mst
		WHERE distribution_idx = #{distribution_idx}
	</select>
	
	<select id="getChargerFile" parameterType="Integer" resultType="Integer">
		SELECT *
		FROM charger_file
		WHERE idx = #{idx}
	</select>
	
	<insert id="insertChargerFile" parameterType="com.SCSystem.dto.ChargerFile">
		INSERT INTO charger_file
		(check_mst_idx, charger_idx, create_dt)
		VALUES
		(#{check_mst_idx}, #{charger_idx}, NOW())
	</insert>
	
	<select id="updateChargerFile" parameterType="com.SCSystem.dto.ChargerFile">
		UPDATE charger_file
		SET test_url = #{test_url}
		  , test_path = #{test_path}
		  , plate_url = #{plate_url}
		  , plate_path = #{plate_path}
		  , resistance_url = #{resistance_url}
		  , resistance_path = #{resistance_path}
		  , info_url = #{info_url}
		  , info_path = #{info_path}
		  , bollard_url = #{bollard_url}
		  , bollard_path = #{bollard_path}
		  , connector_url = #{connector_url}
		  , connector_path = #{connector_path}
		  , modify_dt = NOW()
		WHERE idx = #{idx}
	</select>
	
	<delete id="deleteChargerFile" parameterType="Integer">
		DELETE FROM charger_file
		WHERE charger_idx = #{charger_idx}
	</delete>
	
	<select id="getDistributionFile" parameterType="Integer" resultType="Integer">
		SELECT *
		FROM distribution_file
		WHERE idx = #{idx}
	</select>
	
	<insert id="insertDistributionFile" parameterType="com.SCSystem.dto.DistributionFile">
		INSERT INTO distribution_file
		(check_mst_idx, distribution_idx, create_dt)
		VALUES
		(#{check_mst_idx}, #{distribution_idx}, NOW())
	</insert>
	
	<select id="updateDistributionFile" parameterType="com.SCSystem.dto.DistributionFile">
		UPDATE distribution_file
		SET test_url = #{test_url}
		  , test_path = #{test_path}
		  , plate_url = #{plate_url}
		  , plate_path = #{plate_path}
		  , resistance_url = #{resistance_url}
		  , resistance_path = #{resistance_path}
		  , info_url = #{info_url}
		  , info_path = #{info_path}
		  , bollard_url = #{bollard_url}
		  , bollard_path = #{bollard_path}
		  , connector_url = #{connector_url}
		  , connector_path = #{connector_path}
		  , modify_dt = NOW()
		WHERE idx = #{idx}
	</select>
	
	<delete id="deleteDistributionFile" parameterType="Integer">
		DELETE FROM distribution_file
		WHERE distribution_idx = #{distribution_idx}
	</delete>

	
</mapper>