<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.SCSystem.mapper.CheckListMapper">

	<select id="getList" resultType="com.SCSystem.dto.CheckList">
	SELECT * 
	FROM as_evse.check_list
	</select>
	
	<select id="getSearchList" parameterType="String" resultType="com.SCSystem.dto.CheckList">
	SELECT * 
	FROM as_evse.check_list
	WHERE checking_name LIKE CONCAT('%', #{search}, '%')
	</select>
	
	<select id="get" parameterType="Integer" resultType="com.SCSystem.dto.CheckList">
	SELECT * 
	FROM as_evse.check_list
	WHERE idx = #{idx}
	</select>
	
	<insert id="insert" parameterType="com.SCSystem.dto.CheckList">
	INSERT INTO as_evse.check_list
	(company_idx, manager_idx, checking_name, ord, photo_yn, create_dt, modify_dt)
	VALUES
	(
		 #{company_idx}
		,#{manager_idx}
		,#{checking_name}
		,#{ord}
		,#{photo_yn}
		,NOW()
		,NOW()		
	)
	</insert>
	
	<update id="update" parameterType="com.SCSystem.dto.CheckList">
	UPDATE as_evse.check_list
	SET company_idx = #{company_idx}
	  , manager_idx = #{manager_idx}
	  , checking_name = #{checking_name}
	  , ord = #{ord}
	  , photo_yn = #{photo_yn}
	  , modify_dt = NOW()
	WHERE idx = #{idx}
	</update>
	
	<delete id="delete" parameterType="Integer">
	DELETE FROM as_evse.check_list
	WHERE idx = #{idx}
	</delete>
</mapper>