<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.SCSystem.mapper.CheckListMapper">

	<select id="getSearchList" parameterType="com.SCSystem.dto.Search" resultType="com.SCSystem.dto.CheckList">
	SELECT A.* 
		, (SELECT name 
			 FROM as_evse.manager B
			WHERE B.idx = A.manager_idx) manager_name
		, (SELECT B.company_name 
			 FROM as_evse.company B
			WHERE B.idx = A.company_idx) company_name  
	FROM as_evse.check_list A
	WHERE 1 = 1
	<if test="searchName != null and searchName != ''">
      AND checking_name LIKE CONCAT('%', #{searchName}, '%')
    </if>
    <if test="searchCompany != null and searchCompany != ''">
      AND company_idx IN (SELECT IDX FROM as_evse.company WHERE company_name LIKE CONCAT('%', #{searchCompany}, '%'))
    </if>
    <if test="searchManager != null and searchManager != ''">
      AND manager_idx IN (SELECT IDX FROM as_evse.manager WHERE name LIKE CONCAT('%', #{searchManager}, '%'))
    </if>
	</select>
	
	<select id="get" parameterType="Integer" resultType="com.SCSystem.dto.CheckList">
	SELECT * 
	FROM as_evse.check_list
	WHERE idx = #{idx}
	</select>
	
	<insert id="insert" parameterType="com.SCSystem.dto.CheckList">
	INSERT INTO as_evse.check_list
	(company_idx, manager_idx, checking_name, ord, photo_yn, create_dt, modify_dt)
	VALUES
	(
		 #{company_idx}
		,#{manager_idx}
		,#{checking_name}
		,#{ord}
		,#{photo_yn}
		,NOW()
		,NOW()		
	)
	</insert>
	
	<update id="update" parameterType="com.SCSystem.dto.CheckList">
	UPDATE as_evse.check_list
	SET company_idx = #{company_idx}
	  , manager_idx = #{manager_idx}
	  , checking_name = #{checking_name}
	  , ord = #{ord}
	  , photo_yn = #{photo_yn}
	  , modify_dt = NOW()
	WHERE idx = #{idx}
	</update>
	
	<delete id="delete" parameterType="Integer">
	DELETE FROM as_evse.check_list
	WHERE idx = #{idx}
	</delete>
</mapper>