<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.SCSystem.mapper.CompanyMapper">
	<select id="getCompanyList" resultType="com.SCSystem.dto.Company">
	SELECT * 
	FROM as_evse.company
	</select>
	
	<select id="getCompanySearchList" parameterType="String" resultType="com.SCSystem.dto.Company">
	SELECT * 
	FROM as_evse.company
	WHERE company_name LIKE '%'#{company_name}'%'
	</select>
	
	<select id="getCompany" parameterType="Integer" resultType="com.SCSystem.dto.Company">
	SELECT * 
	FROM as_evse.company
	WHERE idx = #{idx}
	</select>
	
	<insert id="insertCompany" parameterType="com.SCSystem.dto.Company">
	INSERT INTO as_evse.company
	(company_grade_idx, company_name, create_dt, modify_dt)
	VALUES
	(
		 #{company_grade_idx}
		,#{company_name}
		,NOW()
		,NOW()		
	)
	</insert>
	
	<update id="updateCompany" parameterType="com.SCSystem.dto.Company">
	UPDATE as_evse.company
	SET company_grade_idx = #{company_grade_idx}
	  , company_name = #{company_name}
	  , create_dt = NOW()
	  , modify_dt = NOW()
	WHERE idx = #{idx}
	</update>
	
	<delete id="deleteCompany" parameterType="Integer">
	DELETE FROM as_evse.company
	WHERE idx = #{idx}
	</delete>
</mapper>