<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.SCSystem.mapper.ManagerMapper">
	<select id="login" parameterType="com.SCSystem.dto.Manager" resultType="com.SCSystem.dto.Manager">
	SELECT * 
	FROM as_evse.manager
	WHERE ID = #{id}
	</select>
	
	<insert id="insert" parameterType="com.SCSystem.dto.Manager">
	INSERT INTO as_evse.manager
	(company_idx, manager_grade_idx, id, password, name, phone, longitude, latitude, create_dt, modify_dt)
	VALUES
	(
		 #{company_idx}
		,#{manager_grade_idx}
		,#{id}
		,#{password}
		,#{name}
		,#{phone}
		,0
		,0
		,NOW()
		,NOW()		
	)
	</insert>
	
	<select id="getList" resultType="com.SCSystem.dto.Manager">
	SELECT * 
	FROM as_evse.manager
	</select>
	
	<select id="getSearchList" parameterType="String" resultType="com.SCSystem.dto.Manager">
	SELECT * 
	FROM as_evse.manager
	WHERE name LIKE CONCAT('%', #{search}, '%')
	</select>
	
	<select id="get" parameterType="Integer" resultType="com.SCSystem.dto.Manager">
	SELECT * 
	FROM as_evse.manager
	WHERE idx = #{idx}
	</select>
	
	<update id="update" parameterType="com.SCSystem.dto.Manager">
	UPDATE as_evse.manager
	SET company_idx = #{company_idx}
	  , manager_grade_idx = #{manager_grade_idx}
	  , password = #{password}
	  , name = #{name}
	  , phone = #{phone}
	  , modify_dt = NOW()
	WHERE idx = #{idx}
	</update>
	
	<delete id="delete" parameterType="Integer">
	DELETE FROM as_evse.manager
	WHERE idx = #{idx}
	</delete>
</mapper>