<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.SCSystem.mapper.ManagerMapper">
	<select id="getManager" parameterType="com.SCSystem.dto.Manager" resultType="com.SCSystem.dto.Manager">
	SELECT * 
	FROM as_evse.manager
	WHERE ID = #{id}
	</select>
	
	<insert id="insertManager" parameterType="com.SCSystem.dto.Manager">
	INSERT INTO as_evse.manager
	(company_idx, manager_grade_idx, id, password, name, phone, longitude, latitude, create_dt, modify_dt)
	VALUES
	(
		 #{company_idx}
		,#{manager_grade_idx}
		,#{id}
		,#{password}
		,#{name}
		,#{phone}
		,0
		,0
		,NOW()
		,NOW()		
	)
	</insert>
</mapper>